* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 5px 0;
    background-color: #25A479;
}

.medsos ul li {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header h1 {
    font-family: 'Bebas Neue', cursive;
    float: left;
    padding: 10px 0;
    color: #25A479;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #25A479;
    color: white;
    border-radius: 5px;
}

.active {
    background-color: #25A479;
    color: white;
    border-radius: 5px;
}

.banner {
    height: 60vh;
    background-image: url(../image/backweb1.jpg);
    background-size: cover;
    position: relative;
    /* TULISAN MENJADI DI TENGAH */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BACKGROUND TRANSPARAN */
.banner:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(37, 164, 121, .6);
}

.banner h2 {
    color: white;
    font-weight: bold;
    /* DI DEPAN BACKGROUNF */
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
}

section {
    padding: 50px 0;
}

section h3 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: #25A479;
}

.about hr {
    width: 350px;
    border-top: 4px solid gray;
    margin-left: 355px;
    margin-bottom: 20px;
}

.container img {
    /* GAMBAR MENJADI LINGKARANG */
    width: 150px;
    border-radius: 100px;
    border: 3px solid #25A479;
    /* GAMBAR MENJADI DI TENGAH */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.about p {
    text-align: center;
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}

.container1 h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: #25A479;
}

.container1 hr {
    width: 400px;
    border-top: 4px solid gray;
    margin-left: 473px;
    margin-bottom: 20px;
}

.container1 img {
    width: 300px;
    margin: 25px 40px;
    border: 3px solid #25A479;
    border-radius: 8px;
}

.container2 h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: #25A479;
}

.box::after {
    content: '';
    display: block;
    clear: both;
}

.box h4 {
    font-weight: bold;
}

.service {
    background-color: #f9f9f9;
    color: #25A479;
}

.box {
    margin: 0 137px;
}

.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid #25A479;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    /* MENJADI DI TENGAH */
    margin: 0 auto;
}

.box .col-4 h4 {
    margin: 20px 0;
    text-align: center;
}

footer {
    padding: 30px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

/* MEMBUAT TAMPILAN LOADING */
.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #25A479;
    border-right-color: #25A479;
    border-bottom-color: #25A479;
    animation: puterin .9s linear infinite;
}

.label {
    background-color: #25A479;
    color: white;
}

/* LOADING */
@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}

.box1 .col-4 {
    margin-bottom: 30px;
}

/* MENYESUAIKAN LEBAR LAYAR */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header h1 {
        text-align: center;
        float: none;
    }

    .header ul {
        text-align: center;
        float: none;
    }

    .box .col-4 {
        width: 100%;
        float: none;
    }
}